@{
    ViewBag.Title = "UserReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="box box-color box-bordered">
    <div class="box-title">
        <h3>           
           UserReport
        </h3>
    </div>
    <div class="box-content nopadding">
        <table class="table table-hover table-nomargin">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Sprint</th>
                    <th>Developer</th>
                    <th>How happy are you with your team?</th>
                    <th>What feels best right now?</th>
                    <th>What feels worst right now?</th>
                    <th>What would increase your happiness index?</th>
                    <th>Updated on</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Medclarity</td>
                    <td>50</td>
                    <td>Bakkiyalakshmir</td>
                    <td>5</td>
                    <td>Working in Medclarity</td>
                    <td>Nothing</td>
                    <td>new Technology</td>
                    <td>jul 20 2017</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="clear">
    </div>
</div>
