<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Happiness Metric</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/alert.js"></script>
    @{
        var userModel = new HappinessMetric.Models.UserViewModel
        {
            LanID = Request.LogonUserIdentity.Name
        };       
    }
    <script>
        $(function () {
            //alert("success", "Activated your Tab");
            //alert("error", "Activated your Tab");
            //alert("warning", "Activated your Tab");
            //alert("info", "Activated your Tab");
            $(".tabactive").click(function () {
                $(".tabactive").removeClass("active");
                $(this).addClass("active");
            })
        })
    </script>
</head>
<body id="myhappiness" data-spy="scroll" data-target=".navbar" data-offset="50" contenteditable="false">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">
                    <img src="~/Images/Medusind.png" /></a>
            </div>
            <div class="row" style="margin-top: 14px;">
                <div class="col-sm-5">
                    <h1>Happiness Survey</h1>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        @*@if (userModel.IsAdmin)
                        {*@
                        <li class="tabactive"><a href="~/Home/Index"><p>Home</p></a></li>
                            <li class="tabactive"><a href="~/Report/UserReport"><p>Report</p></a></li>
                        @*}*@
                        <li><a class="smallfont" href="#">Welcome <span class="smallfont">@userModel.UserName</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div id="body">
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom">
        <div class="content-wrapper">
            <div style="text-align: center">
                <p>&copy; @DateTime.Now.Year - Medusind Solutions</p>
            </div>
        </div>
    </footer>
</body>
</html>
